.grey{
  color: gray;
}
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}


.grey{
  color: gray;
 font-family: 'Courier New', Courier, monospace;
  font-weight: 551;
}

.wraper{
  display: flex;
  gap: 100px;
  
  padding-left: 50px;
}
.output{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}
.country-name{
margin-left: 100px;
}
